<div id="<%= dom_id post %>">
  <p>
    <strong>Title:</strong>
    <span style="color: <%= post.palette.font_color %>; font-size: <%= post.palette.font_size %>px;">
      <%= post.title %>
    </span>
  </p>

  <p>
    <strong>Body:</strong>
    <%= post.body %>
  </p>

</div>
